<html>
<head>
</head>
<body>
	<form action="analyze" enctype="multipart/form-data" method="post">
		<p>Choose an ASCII file of Tecan data:</p>
		<p><input type="file" name="datafile" size="40"></p>
		<p>Which sample was white cells?<input type="text" name="white"></p>
		<p>Which is the max timepoint?<input type="text" name="timepoint"></p>
		<p>What is the plate layout? ex. [[],[],[]]<input type="text" name="layout"></p>	
		<p>[[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31],[32],[33],[34],[35],[36],[37],[38],[39],[40],[41],[42],[43],[44],[45],[46],[47],[48],[49],[50],[51],[52],[53],[54],[55],[56],[57],[58],[59],[60],[61],[62],[63],[64],[65],[66],[67],[68],[69],[70],[71],[72],[73],[74],[75],[76],[77],[78],[79],[80],[81],[82],[83],[84],[85],[86],[87],[88],[89],[90],[91],[92],[93],[94],[95],[96]]</p>	
		<input type="submit" value="Analyze">
	</form>
	
	<form action="rena" enctype="multipart/form-data" method="post">
		<p>Rena's data: Choose an ASCII file of Tecan data:</p>
		<p><input type="file" name="datafile" size="40"></p>
		<p>Which sample was white cells?<input type="text" name="white"></p>
		<p>Which is the max timepoint?<input type="text" name="timepoint"></p>
		<p>What is the plate layout? ex. [[],[],[]]<input type="text" name="layout"></p>	
		<p>[[14,27,40],[15,28,41],[16,29,42],[17,30,43],[18,31,44],[19,32,45],[20,33,46],[21,34,47],[22,35,38],[23,26,39],[50,63,76],[51,64,77],[52,65,78],[53,66,79],[54,67,80],[55,68,81],[56,69,82],[57,70,83],[58,59,71]]</p>	
		
		<p>RFP or GFP?<input type="text" name="fp"></p>
		<input type="submit" value="Analyze">
	</form>
</body>